.footer {
   &__wrapper {
      background-color: $purple;
   }

   &__container {
   }
   &__top {
      @media (min-width: $md1+px) {
         padding: 0px 60px;
      }
   }

   &__body {
   }

   &__menu {
   }

   &__bottom {
      background-color: $white;
   }
}
.body-footer {
   @include adaptiv-value("padding-top", 45, 30, 1);
   @include adaptiv-value("padding-bottom", 55, 30, 1);
   border-bottom: 1px solid #9a7dff;

   &__flex {
      display: flex;
      align-items: center;
      justify-content: center;
      @include adaptiv-value("margin-bottom", 135, 40, 1);
      @media (max-width: $md1+px) {
         justify-content: space-between;
      }
      @media (max-width: $md3+px) {
         flex-wrap: wrap;
         margin-bottom: 30px;
      }
   }

   &__item {
      display: flex;
      align-items: center;
      color: $white;
      @media (max-width: 1300px) {
         align-items: flex-start;
         flex: 0 1 33.333%;
      }
      @media (max-width: $md3+px) {
         flex: 1 1 100%;
         justify-content: center;
      }
      @media (max-width: 330px) {
         justify-content: flex-start;
      }
      &::before {
         @include adaptiv-font(40, 30, 1);
         @include adaptiv-value("margin-right", 15, 10, 1);
      }
      &:not(:last-child) {
         margin-right: 10px;
         @media (min-width: $md1+px) {
            @include adaptiv-value("margin-right", 120, 0, 1);
         }
         @media (max-width: $md3+px) {
            margin-right: 0;
            margin-bottom: 20px;
         }
      }
   }

   &__text {
      font-size: 20px;
      line-height: 52 / 20 * 100%;
      @media (max-width: 1300px) {
         line-height: 28 / 20 * 100%;
      }
      @media (max-width: $md3+px) {
         font-size: 18px;
      }
   }

   &__logo {
      text-align: center;
      img {
         max-width: 100%;
      }
   }
}
.menu-footer {
   @include adaptiv-value("padding-top", 35, 20, 1);
   @include adaptiv-value("padding-bottom", 65, 20, 1);
   &__flex {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      @media (max-width: $md2+px) {
         justify-content: space-between;
         margin: 0px -10px;
      }
      @media (max-width: $md3+px) {
         justify-content: flex-start;
         flex-wrap: wrap;
      }
   }

   &__column {
      @media (max-width: $md3+px) {
         flex: 1 1 100%;
      }
      padding: 0px 10px;
   }

   &__label {
      font-weight: 700;
      font-size: 14px;
      line-height: 52 / 14 * 100%;
      text-transform: uppercase;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &::after {
         display: none;
         transition: all 0.5s ease 0s;
      }
      @media (max-width: $md3+px) {
         @media (any-hover: hover) {
            &:hover {
               color: $grey;
            }
         }
         &::after {
            display: block;
         }
         font-size: 16px;
         line-height: 40 / 16 * 100%;
      }
      &._active {
         &::after {
            transform: rotate(-180deg);
         }
      }
   }

   &__list {
   }

   &__link {
      font-size: 12px;
      line-height: 22 / 12 * 100%;
      @media (max-width: $md3+px) {
         font-size: 14px;
      }
      color: $white;
      transition: all 0.3s ease 0s;
      @media (any-hover: hover) {
         &:hover {
            color: $grey;
         }
      }
   }
}
.bottom-footer {
   padding: 20px 0px;
   @media (min-width: $md1+px) {
      padding: 20px 60px;
   }
   @media (max-width: $md2+px) {
      padding-top: 20px;
      padding-bottom: 10px;
   }
   &__container {
   }

   &__flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: $md2+px) {
         flex-wrap: wrap;
      }
   }

   &__social {
      display: flex;
      align-items: center;
      flex: 0 1 250px;
      justify-content: space-between;
      @media (max-width: 1300px) {
         flex: 0 1 200px;
      }
      @media (max-width: $md4+px) {
         flex: 1 1 100%;
         justify-content: center;
      }
   }

   &__item-social {
      font-size: 20px;
      transition: all 0.3s ease 0s;
      color: $dark;
      &:not(:last-child) {
         @include adaptiv-value("margin-right", 20, 10, 1);
      }
      @media (any-hover: hover) {
         &:hover {
            color: $purple;
         }
      }
      @media (max-width: $md4+px) {
         &:not(:last-child) {
            @include adaptiv-value("margin-right", 25, 15, 1);
         }
      }
   }

   &__copy {
      font-size: 12px;
      line-height: 22 / 12 * 100%;
      text-align: center;
      color: $dark;
      span {
      }
      a {
         text-decoration: underline;
         transition: all 0.3s ease 0s;
         color: $dark;
         &:not(:last-child) {
            margin: 0px 3px 0px 0px;
         }
         @media (any-hover: hover) {
            &:hover {
               color: $purple;
            }
         }
      }
      @media (max-width: $md2+px) {
         flex: 1 1 100%;
         order: 3;
         margin-top: 10px;
      }
   }

   &__company {
      flex: 0 1 250px;
      text-align: right;
      @media (max-width: 1300px) {
         flex: 0 1 200px;
      }
      @media (max-width: $md4+px) {
         flex: 1 1 100%;
         text-align: center;
         margin-top: 20px;
      }
      img {
         max-width: 100%;
      }
   }
}
