//====================================================================================================
.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	&__wrapper {
		margin-top: 37px;
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 100;
		background-color: transparent;
		box-shadow: 0 0 15px transparent;
		transition: all 0.8s ease 0s;
		@media (max-width: $md2+px) {
			margin-top: 10px;
		}
		transform: translate(0px, -100px);
		@extend .no-anim;
	}

	&__container {
		padding: 0px 55px;
		@media (max-width: $md1+px) {
			padding: 0px 15px;
		}
	}

	&__body {
		min-height: 47px;
		display: flex;
		align-items: center;
	}

	&__logo {
		flex: 0 0 170px;
		position: relative;
		z-index: 20;
		@include adaptiv-value("margin-right", 145, -40, 1);
		img {
			max-width: 100%;
		}
	}

	&__menu {
		flex: 1 1 auto;
	}

	&__profile {
		display: flex;
		align-items: center;
		@media (max-width: 600px) {
			@include adaptiv-value("margin-top", 30, 20, 1);
			flex-wrap: wrap;
		}
	}

	&__login {
		@extend .text;
		color: $dark;
		transition: all 0.3s ease 0s;
		@include adaptiv-value("margin-right", 38, 20, 1);
		@media (any-hover: hover) {
			&:hover {
				color: $darkPurple;
			}
		}
		position: relative;
		z-index: 20;
	}

	&__sign {
		min-height: 47px;
		min-width: 120px;
		position: relative;
		z-index: 20;
	}

	&__search {
		@media (min-width: $md3+px) {
			@include adaptiv-value("margin-left", 30, 20, 1);
		}
		@media (max-width: $md3+px) {
			@include adaptiv-value("margin-top", 30, 20, 1);
		}
		@media (max-width: 600px) {
			flex: 1 1 100%;
		}
	}

	&__icon {
		position: relative;
		z-index: 20;
		@include adaptiv-value("margin-left", 30, 20, 1);
	}
}
.menu {
	&__wrapper {
		@media (max-width: $md2+px) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(255, 255, 255, 0.5);
			opacity: 0;
			visibility: hidden;
			transition: all 0.8s ease 0s;
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: 67px;
				top: 0;
				left: 0;
				opacity: 0;
				visibility: hidden;
				background-color: $white;
				transition: all 0.8s ease 0s;
				z-index: 15;
			}
			&._active {
				opacity: 1;
				visibility: visible;
				&::before {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	&__body {
		@media (min-width: 600px) {
			min-width: 350px;
		}
		@media (max-width: $md2+px) {
			position: fixed;
			height: 100%;
			top: 0;
			right: 0;
			padding: 100px 15px 30px 15px;
			background-color: $white;
			z-index: 10;
			overflow: auto;
			opacity: 0;
			visibility: hidden;
			transform: translate(100%, 0px);
			transition: all 0.8s ease 0s;
			&._active {
				opacity: 1;
				visibility: visible;
				transform: translate(0px, 0px);
			}
		}
		@media (max-width: 600px) {
			width: 100%;
			padding-top: 80px;
		}
	}

	&__list {
		@media (min-width: $md2+px) {
			display: flex;
			align-items: center;
			li {
				&:not(:last-child) {
					@include adaptiv-value("margin-right", 38, 0, 1);
				}
			}
		}
		@media (max-width: $md2+px) {
			li {
				&:not(:last-child) {
					@include adaptiv-value("margin-bottom", 30, 20, 1);
				}
			}
		}
	}

	&__link {
		@extend .text;
		color: $dark;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $darkPurple;
			}
		}
		@media (max-width: 600px) {
			font-size: 20px;
		}
	}
}
.search-form {
	&._active {
		.search-form__item {
			@media (min-width: $md3+px) {
				visibility: visible;
				opacity: 1;
				transform: translate(0px, 50px);
			}
		}
	}
	&__icon {
		font-size: 16px;
		color: $dark;
		transition: all 0.3s ease 0s;
		position: relative;
		z-index: 20;
		@media (any-hover: hover) {
			&:hover {
				color: $darkPurple;
			}
		}
		@media (max-width: $md3+px) {
			display: none;
		}
	}

	&__item {
		box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
		display: flex;
		align-items: center;
		transition: all 0.5s ease 0s;
		border-radius: 6px;
		@media (min-width: $md3+px) {
			position: absolute;
			top: 10px;
			right: 15px;
			visibility: hidden;
			opacity: 0;
			transform: translate(0px, 0px);
			min-height: 47px;
			min-width: 500px;
		}
	}

	&__btn {
		padding: 0px 10px;
		font-size: 18px;
		color: $white;
		background-color: $purple;
		min-height: 47px;
		transition: all 0.3s ease 0s;
		border-radius: 6px 0px 0px 6px;
		@media (any-hover: hover) {
			&:hover {
				background-color: $green;
			}
		}
	}

	&__input {
		border-radius: 0 6px 6px 0px;
	}
}

.icon-menu {
	display: none;
	@media (max-width: $md2+px) {
		display: block;
		position: relative;
		top: 0px;
		right: 0px;
		width: 30px;
		height: 24px;
		cursor: pointer;
		z-index: 20;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 3px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				background-color: $red;
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 2px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
