.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: rem(5) rem(10);
    border-radius: rem(5);
    @extend %text;
    background-color: $purple;
    color: $white;
    transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
    @media (any-hover: hover) {
        &:hover {
            background-color: $green;
        }
    }
    &_green {
        background-color: $green;
        border-radius: rem(60);
        @media (any-hover: hover) {
            &:hover {
                color: $purple;
                background-color: $white;
            }
        }
    }
}
