input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.input {
    width: 100%;
    min-height: rem(47);
    background-color: $white;
    padding: 0px rem(10);
    @extend %text;
    color: $grey;
    transition: color 0.3s ease 0s, border 0.3s ease 0s;
    border-radius: rem(5);
    border: rem(1) solid $grey;
    &._form-focus {
        color: $dark;
        border: rem(1) solid $dark;
    }
    &._form-error {
        border: rem(1) solid $red;
    }
}
