//<ОСНОВНОЙ БЛОК>====================================================================================================
%text {
    font-weight: 500;
    line-height: math.div(21, 18);
}

%text_2 {
    line-height: math.div(25, 18);
}

%h2 {
    font-family: "Circular";
    font-weight: 700;
    @include adaptiveValue("font-size", 55, 32, 991.98, 767.98, 1);
    line-height: math.div(70, 55);
    text-align: center;
}

%h4 {
    font-family: "Circular";
    font-weight: 700;
    @include adaptiveValue("font-size", 36, 24, 991.98, 767.98, 1);
    line-height: math.div(46, 36);
}

%anim {
    opacity: 1;
    visibility: visible;
}

%no-anim {
    opacity: 0;
    visibility: hidden;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background-color: transparent;
    border: rem(5) solid $orange;
}
