//<ОСНОВНОЙ БЛОК>====================================================================================================
.text {
    font-weight: 500;
    font-size: 18px;
    line-height: 21 / 18 * 100%;
}

.text_2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 25 / 18 * 100%;
}
.h2 {
    font-family: "Circular";
    font-weight: 700;
    @include adaptiv-font(55, 32, 1);
    line-height: 70 / 55 * 100%;
    text-align: center;
    color: $dark;
}
.h4 {
    font-family: "Circular";
    font-weight: 700;
    @include adaptiv-font(36, 24, 1);
    line-height: 46 / 36 * 100%;
}
.anim {
    opacity: 1;
    visibility: visible;
}
.no-anim {
    opacity: 0;
    visibility: hidden;
}
.circle {
    position: absolute;
    border-radius: 50%;
    background-color: transparent;
    border: 5px solid $orange;
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
