.footer {
    position: relative;
    z-index: 4;
    &__wrapper {
        background-color: $purple;
    }

    &__container {
    }

    &__body {
        @media (min-width: $pc) {
            padding: 0px rem(60);
        }
    }

    &__menu {
    }

    &__bottom {
        background-color: $white;
    }
}

.body-footer {
    @include adaptiveValue("padding-top", 45, 30);
    @include adaptiveValue("padding-bottom", 55, 30);
    max-width: rem(1480);
    margin: 0px auto;
    &__flex {
        display: flex;
        align-items: center;
        justify-content: center;
        @include adaptiveValue("margin-bottom", 135, 40);
        @include adaptiveValue("gap", 120, 30, 1600, 1300, 1);
        @media (max-width: $pc) {
            justify-content: space-between;
        }
        @media (max-width: $mobile) {
            margin-bottom: rem(30);
            gap: rem(20);
            flex-wrap: wrap;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        color: $white;
        @media (max-width: em(1300)) {
            flex: 0 1 33.333%;
            justify-content: center;
        }
        @media (max-width: $mobile) {
            flex: 1 1 100%;
        }
        @media (max-width: em(330)) {
            justify-content: flex-start;
        }
        &::before {
            @include adaptiveValue("font-size", 40, 30);
            @include adaptiveValue("margin-right", 15, 10);
        }
    }

    &__text {
        font-size: rem(20);
        line-height: math.div(52, 20);
        @media (max-width: em(1300)) {
            line-height: math.div(28, 20);
        }
        @media (max-width: $mobile) {
            font-size: rem(18);
        }
    }

    &__logo {
        text-align: center;
        img {
            max-width: 100%;
        }
    }
}

.menu-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: rem(20);
    max-width: rem(1480);
    margin: 0px auto;
    @include adaptiveValue("padding-top", 35, 20);
    @include adaptiveValue("padding-bottom", 65, 20);
    border-top: rem(1) solid #9a7dff;
    @media (max-width: $tablet) {
        justify-content: space-between;
    }
    @media (max-width: $mobile) {
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: rem(5);
    }

    &__column {
        @media (max-width: $mobile) {
            flex: 1 1 100%;
        }
    }

    &__label {
        font-weight: 700;
        font-size: rem(14);
        line-height: math.div(52, 14);
        text-transform: uppercase;
        color: $white;
        display: flex;
        align-items: center;
        transition: color 0.3s ease 0s;
        justify-content: space-between;
        &::after {
            display: none;
            transition: transform 0.5s ease 0s;
        }
        @media (max-width: $mobile) {
            font-size: rem(16);
            line-height: math.div(40, 16);
            transition: color 0.5s ease 0s;
            &::after {
                display: block;
            }
            @media (any-hover: hover) {
                &:hover {
                    color: $orange;
                }
            }
        }
        &._spoller-active {
            color: $orange;
            &::after {
                transform: rotate(-180deg);
            }
        }
    }

    &__list {
    }

    &__link {
        font-size: rem(12);
        line-height: math.div(22, 12);
        color: $white;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $grey;
            }
        }
        @media (max-width: $mobile) {
            font-size: rem(14);
        }
    }
}

.bottom-footer {
    max-width: rem(1510);
    margin: 0px auto;
    padding: rem(20) rem(15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $tablet) {
        flex-wrap: wrap;
        padding-top: rem(20);
        padding-bottom: rem(10);
    }

    &__social {
        display: flex;
        align-items: center;
        @include adaptiveValue("gap", 25, 15);
        flex: 0 1 rem(250);
        justify-content: space-between;
        @media (max-width: em(1300)) {
            flex: 0 1 rem(200);
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
            justify-content: center;
        }
    }

    &__item-social {
        font-size: rem(20);
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $purple;
            }
        }
    }

    &__copy {
        font-size: rem(12);
        line-height: math.div(22, 12);
        text-align: center;
        a {
            text-decoration: underline;
            transition: color 0.3s ease 0s;
            &:not(:last-child) {
                margin-right: rem(3);
            }
            @media (any-hover: hover) {
                &:hover {
                    color: $purple;
                }
            }
        }
        @media (max-width: $tablet) {
            flex: 1 1 100%;
            order: 3;
            margin-top: rem(10);
        }
    }

    &__company {
        flex: 0 1 rem(250);
        text-align: right;
        img {
            max-width: 100%;
        }
        @media (max-width: em(1300)) {
            flex: 0 1 rem(200);
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
            text-align: center;
            margin-top: rem(20);
        }
    }
}
