.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: transparent;
    box-shadow: 0 0 rem(15) transparent;
    @media (min-width: $tablet) {
        margin-top: rem(27);
    }
    &._header-scroll {
        margin-top: 0px;
        box-shadow: 0 0 rem(15) $white;
        background-color: $white;
    }

    // ANIMATION =======================================================================================================================================
    transform: translate(0px, rem(-100));
    @extend %no-anim;
    transition: background-color 0.8s ease 0s, box-shadow 0.8s ease 0s, margin-top 0.8s ease 0s, opacity 0.8s ease 0s,
        visibility 0.8s ease 0s, transform 0.8s ease 0s;

    &__container {
        min-height: rem(67);
        display: flex;
        align-items: center;
        max-width: rem(1920);
        padding: 0px rem(55);
        @media (max-width: $pc) {
            padding: 0px rem(15);
        }
    }

    &__logo {
        flex: 0 0 rem(170);
        position: relative;
        z-index: 20;
        @include adaptiveValue("margin-right", 145, -40);
        img {
            max-width: 100%;
        }
    }

    &__menu {
        flex: 1 1 auto;
    }

    &__profile {
        display: flex;
        align-items: center;
        @include adaptiveValue("gap", 38, 20);
        @media (max-width: em(600)) {
            @include adaptiveValue("margin-top", 30, 20);
            flex-wrap: wrap;
            flex-direction: row-reverse;
            justify-content: flex-end;
        }
    }

    &__login {
        @extend %text;
        position: relative;
        z-index: 20;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $darkPurple;
            }
        }
    }

    &__sign {
        min-height: rem(47);
        min-width: rem(120);
        position: relative;
        z-index: 20;
    }

    &__search {
        @media (min-width: $mobile) {
            @include adaptiveValue("margin-left", 30, 20);
        }
        @media (max-width: $mobile) {
            @include adaptiveValue("margin-top", 30, 20);
        }
        @media (max-width: em(600)) {
            flex: 1 1 100%;
        }
    }

    &__icon {
        position: relative;
        z-index: 20;
        @include adaptiveValue("margin-left", 30, 20);
    }
}
.menu {
    &__wrapper {
        @media (max-width: $tablet) {
            position: fixed;
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
            background-color: rgba(255, 255, 255, 0.5);
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.8s ease 0s, visibility 0.8s ease 0s;
            &::before {
                content: "";
                position: fixed;
                width: 100%;
                height: rem(67);
                top: rem(-10);
                left: 0;
                opacity: 0;
                visibility: hidden;
                background-color: $white;
                transition: opacity 0.8s ease 0s, visibility 0.8s ease 0s;
                z-index: 15;
            }
            .menu-open & {
                opacity: 1;
                visibility: visible;
                &::before {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    &__body {
        @media (max-width: $tablet) {
            position: fixed;
            height: 100%;
            min-width: rem(350);
            min-height: rem(320);
            top: 0;
            right: 0;
            padding: rem(80) rem(15) rem(20) rem(15);
            background-color: $white;
            z-index: 10;
            overflow: auto;
            opacity: 0;
            visibility: hidden;
            transform: translate(100%, 0px);
            transition: opacity 0.8s ease 0s, visibility 0.8s ease 0s, transform 0.8s ease 0s;
            border-radius: 0 0 0 rem(20);
            @include scrollbars(rem(8), $dark, $white);
            .menu-open & {
                opacity: 1;
                visibility: visible;
                transform: translate(0px, 0px);
            }
        }
        @media (max-width: $mobile) {
            min-height: rem(370);
        }
        @media (max-width: em(600)), (max-height: em(370)) {
            width: 100%;
            min-width: auto;
            min-height: 100vh;
            padding-top: rem(80);
            border-radius: rem(0);
        }
    }

    &__list {
        @media (min-width: $tablet) {
            display: flex;
            align-items: center;
            @include adaptiveValue("gap", 38, 20, 1600, 991.98, 1);
        }
        @media (max-width: $tablet) {
            li {
                &:not(:last-child) {
                    @include adaptiveValue("margin-bottom", 30, 20);
                }
            }
        }
    }

    &__link {
        @extend %text;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $darkPurple;
            }
        }
        @media (max-width: em(600)), (max-height: em(370)) {
            font-size: rem(20);
        }
    }
}

.search-form {
    &__icon {
        font-size: rem(16);
        transition: color 0.3s ease 0s;
        position: relative;
        z-index: 20;
        @media (any-hover: hover) {
            &:hover {
                color: $darkPurple;
            }
        }
        @media (max-width: $mobile) {
            display: none;
        }
    }

    &__item {
        box-shadow: 0px rem(18) rem(53) rgba(215, 228, 249, 0.5);
        display: flex;
        align-items: center;
        transition: opacity 0.5s ease 0s, visibility 0.5s ease 0s, transform 0.5s ease 0s;
        border-radius: rem(6);
        ._active & {
            visibility: visible;
            opacity: 1;
            transform: translate(0px, rem(50));
        }
        @media (min-width: $mobile) {
            position: absolute;
            top: rem(30);
            right: rem(15);
            visibility: hidden;
            opacity: 0;
            transform: translate(0px, 0px);
            min-height: rem(47);
            min-width: rem(500);
        }
    }

    &__btn {
        padding: 0px rem(10);
        color: $white;
        background-color: $purple;
        min-height: rem(47);
        transition: background-color 0.3s ease 0s;
        border-radius: rem(6) 0px 0px rem(6);
        @media (any-hover: hover) {
            &:hover {
                background-color: $green;
            }
        }
    }

    &__input {
        border-radius: 0 rem(6) rem(6) 0px;
    }
}

//====================================================================================================

.icon-menu {
    display: none;
    @media (max-width: $tablet) {
        display: block;
        position: relative;
        width: rem(30);
        height: rem(24);
        cursor: pointer;
        z-index: 5;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        -webkit-tap-highlight-color: transparent;
        span,
        &::before,
        &::after {
            content: "";
            transition: all 0.3s ease 0s;
            right: 0;
            position: absolute;
            width: 100%;
            height: rem(4);
            background-color: $dark;
            border-radius: rem(4);
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            top: calc(50% - rem(2));
        }
        @media (any-hover: hover) {
            &:hover {
                span,
                &::before,
                &::after {
                    background-color: $darkPurple;
                }
            }
        }
        .menu-open & {
            span {
                width: 0;
            }
            &::before {
                top: calc(50% - rem(2));
                transform: rotate(-45deg);
            }
            &::after {
                bottom: calc(50% - rem(2));
                transform: rotate(45deg);
            }
        }
    }
}
