.home {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;

    &__wrapper {
        flex: 0 0 100%;
        @media (max-width: $mobile) {
            flex: 1 1 100%;
        }
    }

    &__container {
    }

    &__images {
        flex: 0 0 percent(840, 1920);
        transform: translate(-100%, 0px);
        @media (max-width: $pc) {
            flex: 0 0 50%;
        }
        @media (max-width: $tablet) {
            flex: 0 0 40%;
        }
        @media (max-width: $mobile) {
            display: none;
        }
    }

    &__bg {
        pointer-events: none;
        position: absolute;
        width: percent(1767, 1920);
        height: percent(1666, 1080);
        @include adaptiveValue("top", -579, 0);
        right: percent(-804, 1920);
        z-index: -1;
        img {
            max-width: 100%;
        }
    }
}

.content-home {
    &__inner {
        max-width: percent(960, 1600);
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        @media (max-height: em(1080)) {
            min-height: 100vh;
            padding: rem(100) rem(60) rem(20) rem(60);
            @media (max-width: $pc) {
                max-width: 50%;
                padding: rem(100) 0px rem(20) 0px !important;
            }
        }
        @media (min-height: em(1081)) {
            padding: rem(300) rem(60) rem(20) rem(60);
            @media (max-width: $pc) {
                max-width: 50%;
                padding: rem(100) 0px rem(20) 0px !important;
            }
        }
        @media (max-width: $tablet) {
            min-height: 0 !important;
            max-width: 60%;
        }
        @media (max-width: $mobile) {
            max-width: none;
        }
    }

    &__title {
        font-family: "Circular";
        font-weight: 700;
        @include adaptiveValue("font-size", 85, 30);
        line-height: math.div(95, 85);
        @include adaptiveValue("margin-bottom", 30, 20);

        @extend %no-anim;
        transform: translate(-20%, 0px);
        transition: opacity 0.8s ease 0.2s, visibility 0.8s ease 0.2s, transform 0.8s ease 0.2s;
    }

    &__text {
        @extend %text_2;
        color: $grey;
        @include adaptiveValue("margin-bottom", 30, 20);
        max-width: rem(720);
        @media (max-width: $mobile) {
            max-width: none;
        }

        @extend %no-anim;
        transform: translate(-20%, 0px);
        transition: opacity 0.8s ease 0.5s, visibility 0.8s ease 0.5s, transform 0.8s ease 0.5s;
    }

    &__buttons {
        display: flex;
        align-items: center;
        span {
            margin: 0px rem(12);
            @media (max-width: $tablet) {
                margin: 0px rem(10);
            }
            @media (max-width: $mobileSmall) {
                margin-right: rem(10);
            }
        }
        @media (max-width: $mobileSmall) {
            flex-wrap: wrap;
        }

        @extend %no-anim;
        transform: translate(-20%, 0px);
        transition: opacity 0.8s ease 0.8s, visibility 0.8s ease 0.8s, transform 0.8s ease 0.8s;
    }

    &__btn {
        border-radius: rem(60);
        min-height: rem(72);
        min-width: rem(270);
        @media (max-width: $pc) {
            min-height: rem(60);
            min-width: rem(230);
        }
        @media (max-width: $tablet) {
            min-height: rem(45);
            min-width: rem(200);
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
            margin-bottom: rem(20);
        }
    }

    &__more {
        @extend %text_2;
        font-weight: 700;
        color: $blue;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $purple;
            }
        }
    }
}

.images-home {
    @media (max-height: em(1080)) {
        margin-top: rem(100);
    }
    @media (min-height: em(1081)) {
        margin-top: rem(300);
        @media (max-width: $pc) {
            margin-top: rem(100) !important;
        }
    }
    position: relative;
    margin-left: auto;

    @extend %no-anim;
    transition: opacity 0.8s ease 0.5s, visibility 0.8s ease 0.5s;

    &__image {
        img {
            max-width: 100%;
        }
        &_1 {
            position: absolute;
            width: percent(282, 840);
            top: rem(-72);
            left: percent(45, 840);
            overflow: hidden;
            border-radius: rem(20);
            box-shadow: 0px rem(18) rem(53) rgba(162, 173, 192, 0.5);
            z-index: 4;
            max-width: rem(282);
            @media (max-width: $tablet) {
                left: percent(80, 840);
            }
        }

        &_2 {
            position: relative;
            width: percent(907, 840);
            @include adaptiveValue("margin-left", 120, 60, 991.98, 767.98, 1);
            z-index: 3;
            transform: translate(20%, 0px);
            transition: transform 0.8s ease 0.2s, opacity 0.8s ease 0.2s, visibility 0.8s ease 0.2s;
        }

        &_3 {
            background-color: $white;
            position: absolute;
            width: percent(406, 840);
            bottom: -35%;
            left: percent(228, 840);
            overflow: hidden;
            border-radius: rem(20);
            box-shadow: 0px rem(18) rem(53) rgba(215, 228, 249, 0.5);
            z-index: 4;
            max-width: rem(406);
        }
    }
    &__dots {
        position: absolute;
        width: percent(250, 840);
        max-width: rem(250);
        z-index: 2;

        @extend %no-anim;
        transition: opacity 0.8s ease 0.3s, visibility 0.8s ease 0.3s;
        img {
            width: 100%;
        }
        &_1 {
            top: rem(-135);
            left: percent(160, 840);
            transform: rotate(90deg);
            @media (min-width: rem(1920)) {
                left: rem(160);
            }
            @media (max-width: $pc) {
                top: 50%;
                transform: rotate(90deg) translate(-100%, 0%);
                left: rem(140);
            }
        }

        &_2 {
            top: rem(-140);
            right: percent(161, 840);
            @media (min-width: em(1920)) {
                left: rem(427);
                right: auto;
            }
            @media (max-width: $tablet) {
                display: none;
            }
        }

        &_3 {
            top: rem(135);
            right: percent(-18, 840);
            @media (min-width: em(1920)) {
                right: auto;
                left: rem(605);
            }
            @media (max-width: $tablet) {
                top: 0;
            }
        }
    }
    &__item {
        position: absolute;
        z-index: 5;

        @extend %no-anim;
        transition: opacity 0.8s ease 0.3s, visibility 0.8s ease 0.3s;
        img {
            max-width: 100%;
        }
        &_1 {
            bottom: rem(20);
            left: percent(80, 840);
            width: percent(75, 840);
            min-width: rem(40);
        }

        &_2 {
            top: rem(-25);
            left: percent(390, 840);
            width: percent(147, 840);
            min-width: rem(80);
        }

        &_3 {
            width: percent(100, 840);
            left: percent(660, 840);
            bottom: rem(-50);
            min-width: rem(60);
            @media (max-width: $tablet) {
                bottom: rem(-30);
            }
        }
    }
}

// //========================================================================================================================================================

// .simple {
// 	&__wrapper {
// 		position: relative;
// 		z-index: 3;
// 	}

// 	&__container {
// 	}

// 	&__body {
// 		display: flex;
// 		flex-wrap: wrap;
// 		justify-content: center;
// 		margin: 0px 65px;
// 		@media (max-width:$pc) {
// 			margin: 0px 35px;
// 		}
// 		@media (max-width: 1300px) {
// 			margin: 0;
// 		}
// 		@media (max-width: $tablet) {
// 			margin: 0px -10px;
// 		}
// 	}

// 	&__title {
// 		flex: 1 1 100%;
// 		@extend %h2;
// 		@include adaptiveValue("margin-bottom", 80, 40);
// 		@extend %no-anim;
// 		transform: translate(0px, 20px);
// 		transition: all 0.8s ease 0s;
// 		&._animate {
// 			@extend %anim;
// 			transform: translate(0px, 0px);
// 		}
// 	}

// 	&__column {
// 		flex: 0 1 33.333%;
// 		padding: 0px 35px;
// 		@media (max-width:$pc) {
// 			padding: 0px 20px;
// 		}
// 		@media (max-width: 1300px) {
// 			padding: 0px 15px;
// 		}
// 		@media (max-width: $tablet) {
// 			padding: 0px 10px;
// 		}
// 		@media (max-width: $mobile) {
// 			flex: 1 1 100%;
// 			&:not(:last-child) {
// 				@include adaptiveValue("margin-bottom", 80, 60);
// 			}
// 		}
// 		@media (max-width: 600px) {
// 			&:not(:last-child) {
// 				@include adaptiveValue("margin-bottom", 60, 50);
// 			}
// 		}
// 	}

// 	&__item {
// 	}
// }
// .item-simple {
// 	@extend %no-anim;
// 	transition: all 1s ease 0s;
// 	transform: translate(0px, 5%);
// 	&._animate {
// 		@extend %anim;
// 		transform: translate(0px, 0px);
// 	}
// 	&_1 {
// 	}
// 	&_2 {
// 		@media (min-width: $mobile) {
// 			@include adaptiveValue("margin-top", 75, 20);
// 		}
// 	}
// 	&_3 {
// 		@media (min-width: $mobile) {
// 			@include adaptiveValue("margin-top", 150, 50);
// 		}
// 	}

// 	&__images {
// 		display: block;
// 		position: relative;
// 		@include adaptiveValue("margin-bottom", 40, 25);
// 		@media (any-hover: hover) {
// 			&:hover {
// 				.item-simple__image_1-3,
// 				.item-simple__image_2-1,
// 				.item-simple__image_3-1 {
// 					img {
// 						transform: scale(1.1);
// 					}
// 				}
// 			}
// 		}
// 	}

// 	&__image {
// 		overflow: hidden;
// 		border-radius: 10px;
// 		img {
// 			max-width: 100%;
// 			transition: all 0.5s ease 0s;
// 		}
// 		&_1-3,
// 		&_2-1,
// 		&_3-1 {
// 			padding-bottom: 290 / 430 * 100%;
// 			box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
// 			border-radius: 20px;
// 			position: relative;
// 			z-index: 1;
// 			min-height: 200px;
// 			@media (max-width: $mobile) {
// 				padding-bottom: 250 / 430 * 100%;
// 			}
// 		}

// 		&_1-1,
// 		&_1-2,
// 		&_2-2,
// 		&_2-3,
// 		&_2-4,
// 		&_2-5,
// 		&_2-6,
// 		&_3-2,
// 		&_3-3,
// 		&_3-4 {
// 			position: absolute;
// 			z-index: 2;
// 			@media (max-width: 600px) {
// 				display: none;
// 			}
// 		}

// 		&_2-2,
// 		&_2-3,
// 		&_2-4,
// 		&_2-5,
// 		&_2-6 {
// 			width: 105 / 420 * 100%;
// 			border-radius: 10px;
// 			max-width: 105px;
// 			box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
// 		}

// 		&_1-1 {
// 			width: 63 / 420 * 100%;
// 			top: 8 / 283 * 100%;
// 			left: -80 / 420 * 100%;
// 			max-width: 63px;
// 			@media (max-width:$pc) {
// 				left: -40 / 420 * 100%;
// 			}
// 			@media (max-width: 1300px) {
// 				left: -10 / 420 * 100%;
// 			}
// 			@media (max-width: $tablet) {
// 				left: 20 / 420 * 100%;
// 				top: -50 / 283 * 100%;
// 			}
// 			@media (max-width: $mobile) {
// 				top: -20 / 283 * 100%;
// 			}
// 		}

// 		&_1-2 {
// 			width: 202 / 420 * 100%;
// 			max-width: 202px;
// 			top: 50 / 283 * 100%;
// 			left: -106 / 420 * 100%;
// 			box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
// 			@media (max-width:$pc) {
// 				left: -40 / 420 * 100%;
// 			}
// 			@media (max-width: 1300px) {
// 				left: -10 / 420 * 100%;
// 			}
// 			@media (max-width: $tablet) {
// 				left: 20 / 420 * 100%;
// 				top: 20 / 283 * 100%;
// 			}
// 		}

// 		&_2-2 {
// 			top: -42 / 283 * 100%;
// 			left: 48 / 420 * 100%;
// 			@media (max-width: $mobile) {
// 				top: -20 / 283 * 100%;
// 			}
// 		}

// 		&_2-3 {
// 			top: 18 / 283 * 100%;
// 			left: 289 / 420 * 100%;
// 		}

// 		&_2-4 {
// 			top: 112 / 283 * 100%;
// 			left: 48 / 420 * 100%;
// 		}

// 		&_2-5 {
// 			top: 134 / 283 * 100%;
// 			left: 220 / 420 * 100%;
// 		}

// 		&_2-6 {
// 			top: 249 / 283 * 100%;
// 			left: 150 / 420 * 100%;
// 			@media (max-width: $mobile) {
// 				top: 230 / 283 * 100%;
// 			}
// 		}
// 		&_3-2,
// 		&_3-3,
// 		&_3-4 {
// 			box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
// 		}

// 		&_3-2 {
// 			width: 114 / 420 * 100%;
// 			top: -135 / 283 * 100%;
// 			left: 268 / 420 * 100%;
// 			max-width: 114px;
// 			@media (max-width: 1300px) {
// 				top: -95 / 283 * 100%;
// 			}
// 			@media (max-width: $mobile) {
// 				top: -30 / 283 * 100%;
// 			}
// 		}

// 		&_3-3 {
// 			width: 140 / 420 * 100%;
// 			left: 32 / 420 * 100%;
// 			top: -50 / 283 * 100%;
// 			max-width: 140px;
// 			@media (max-width: $mobile) {
// 				top: -20 / 283 * 100%;
// 			}
// 		}
// 		&_3-4 {
// 			width: 170 / 420 * 100%;
// 			left: 325 / 420 * 100%;
// 			top: 115 / 283 * 100%;
// 			max-width: 170px;
// 			@media (max-width:$pc) {
// 				left: 290 / 420 * 100%;
// 			}
// 			@media (max-width: 1300px) {
// 				left: 260 / 420 * 100%;
// 			}
// 			@media (max-width: $tablet) {
// 				left: 230 / 420 * 100%;
// 				top: 145 / 283 * 100%;
// 			}
// 			@media (max-width: $mobile) {
// 				left: 280 / 420 * 100%;
// 				top: 165 / 283 * 100%;
// 			}
// 		}
// 	}

// 	&__title {
// 		display: inline-flex;
// 		@extend %h4;
// 		color: $dark;
// 		transition: all 0.3s ease 0s;
// 		@include adaptiveValue("margin-bottom", 25, 10);
// 		@media (any-hover: hover) {
// 			&:hover {
// 				color: $purple;
// 			}
// 		}
// 	}

// 	&__text {
// 		@extend %text_2;
// 		line-height: 30 / 18 * 100%;
// 		color: $grey;
// 		@include adaptiveValue("margin-bottom", 25, 10);
// 	}

// 	&__more {
// 		@extend %text_2;
// 		font-weight: 700;
// 		color: $blue;
// 		transition: all 0.3s ease 0s;
// 		@media (any-hover: hover) {
// 			&:hover {
// 				color: $purple;
// 			}
// 		}
// 	}
// }

// //========================================================================================================================================================

// .doc {
// 	&__wrapper {
// 		background-color: $purple;
// 		position: relative;
// 		&::before {
// 			content: "";
// 			position: absolute;
// 			width: 100%;
// 			height: 30px;
// 			top: 0;
// 			left: 0;
// 			transform: translate(0px, -50%);
// 			border-radius: 50%;
// 			background-color: #fff;
// 		}
// 		&::after {
// 			content: "";
// 			position: absolute;
// 			width: 100%;
// 			height: 30px;
// 			bottom: 0;
// 			left: 0;
// 			transform: translate(0px, 50%);
// 			border-radius: 50%;
// 			background-color: #fff;
// 		}
// 	}
// 	&__woo {
// 		position: absolute;
// 		width: 750 / 1920 * 100%;
// 		top: -20px;
// 		right: -144 / 1920 * 100%;
// 		z-index: 1;
// 		min-width: 460px;
// 		@media (max-width: $mobileSmall) {
// 			min-width: 290px;
// 		}
// 		img {
// 			max-width: 100%;
// 		}
// 	}

// 	&__container {
// 	}

// 	&__body {
// 		padding: 100px 0px 150px 60px;
// 		@media (max-width:$pc) {
// 			padding-left: 0px;
// 			@include adaptiveValue("padding-top", 100, 60);
// 			@include adaptiveValue("padding-bottom", 150, 60);
// 		}
// 	}

// 	&__row {
// 		position: relative;
// 		&:only-child {
// 			.doc__circle {
// 				top: 25px;
// 			}
// 			.doc__dots {
// 				display: none;
// 			}
// 		}
// 		&._animate {
// 			.doc__image,
// 			.doc__info {
// 				@extend %anim;
// 				transform: translate(0px, 0px);
// 			}
// 			.doc__bg {
// 				@extend %anim;
// 			}
// 		}
// 		&:not(:last-child) {
// 			@include adaptiveValue("margin-bottom", 140, 120);
// 			@media (max-width: $mobile) {
// 				@include adaptiveValue("margin-bottom", 100, 60);
// 			}
// 		}
// 		&_1 {
// 			.doc__image {
// 				@include adaptiveValue("margin-top", -140, -60);
// 				@include adaptiveValue("margin-bottom", -50, -10);
// 				@include adaptiveValue("margin-left", 125, 0);
// 				@include adaptiveValue("margin-right", 70, 20);
// 				@media (max-width: $tablet) {
// 					margin-left: 40px;
// 				}
// 				@media (max-width: $mobile) {
// 					margin-top: 0;
// 					margin-bottom: 0;
// 					margin-left: 0;
// 					margin-right: 20px;
// 				}
// 				@media (max-width: 600px) {
// 					margin: 0px 0px 30px 0px;
// 				}
// 			}
// 		}
// 		&_2 {
// 			.doc__content {
// 				justify-content: flex-end;
// 				@media (max-width: 1300px) {
// 					justify-content: center;
// 				}
// 			}
// 			.doc__image {
// 				@include adaptiveValue("margin-top", -30, -10);
// 				@include adaptiveValue("margin-bottom", -160, -60);
// 				@include adaptiveValue("margin-right", 185, 0);
// 				@include adaptiveValue("margin-left", 70, 20);
// 				transform: translate(20%, 0px);
// 				@media (max-width: $tablet) {
// 					margin-right: 40px;
// 				}
// 				@media (max-width: $mobile) {
// 					margin-top: 0;
// 					margin-bottom: 0;
// 					margin-right: 0;
// 					margin-left: 20px;
// 				}
// 				@media (max-width: 600px) {
// 					margin: 0px 0px 30px 0px;
// 					order: 1;
// 				}
// 			}
// 			.doc__info {
// 				transform: translate(-20%, 0px);
// 				@media (max-width: 600px) {
// 					order: 2;
// 				}
// 			}
// 			.doc__circle {
// 				@include adaptiveValue("width", 262, 100);
// 				@include adaptiveValue("height", 262, 100);
// 				top: -56px;
// 				left: auto;
// 				right: 56 / 1540 * 100%;
// 				@media (max-width: $mobile) {
// 					top: -20px;
// 				}
// 				@media (max-width: 600px) {
// 					top: -40px;
// 				}
// 				&_small {
// 					top: -80px;
// 					z-index: 4;
// 					left: auto;
// 					right: 460 / 1540 * 100%;
// 					@include adaptiveValue("width", 65, 30);
// 					@include adaptiveValue("height", 65, 30);
// 					@media (max-width: $mobile) {
// 						top: -10px;
// 						z-index: 2;
// 					}
// 					@media (max-width: 600px) {
// 						right: auto;
// 						top: -20px;
// 						left: 60px;
// 					}
// 				}
// 			}
// 			.doc__dots {
// 				transform: rotate(-90deg) translate(60%, -40%);
// 				width: 213px;
// 				top: 160px;
// 				left: auto;
// 				right: 0;
// 				@media (max-width: 1300px) {
// 					transform: rotate(-90deg) translate(60%, -30%);
// 				}
// 				@media (max-width: $tablet) {
// 					@include adaptiveValue("width", 213, 120);
// 					transform: translate(0px, 0px);
// 					top: auto;
// 					bottom: -40px;
// 				}
// 				@media (max-width: $mobile) {
// 					right: 60px;
// 					bottom: -20px;
// 				}
// 				@media (max-width: 600px) {
// 					top: 20px;
// 					bottom: auto;
// 					right: 50px;
// 				}
// 			}
// 		}
// 	}

// 	&__content {
// 		display: flex;
// 		position: relative;
// 		z-index: 3;
// 		@media (max-width: 1300px) {
// 			justify-content: center;
// 		}
// 		@media (max-width: 600px) {
// 			flex-wrap: wrap;
// 		}
// 	}

// 	&__image {
// 		flex: 0 1 430px;
// 		overflow: hidden;
// 		box-shadow: -25px 20px 44px rgba(84, 48, 209, 0.4);
// 		border-radius: 20px;
// 		max-height: 600px;
// 		@media (max-width: $mobile) {
// 			max-height: 250px;
// 			flex: 0 1 45%;
// 		}
// 		@media (max-width: 600px) {
// 			flex: 1 1 100%;
// 			padding: 0px 0px 300 / 600 * 100% 0px;
// 			min-height: 250px;
// 		}
// 		transition: all 0.8s ease 0s;
// 		@extend %no-anim;
// 		transform: translate(-20%, 0px);
// 	}

// 	&__info {
// 		flex: 0 1 480px;
// 		@media (max-width: $mobile) {
// 			flex: 0 1 55%;
// 		}
// 		@media (max-width: 600px) {
// 			flex: 1 1 100%;
// 		}
// 		@extend %no-anim;
// 		transition: all 0.8s ease 0.3s;
// 		transform: translate(20%, 0px);
// 	}

// 	&__title {
// 		@extend %h4;
// 		color: $white;
// 		margin-bottom: 15px;
// 	}

// 	&__text {
// 		@extend %text_2;
// 		line-height: 30 / 18 * 100%;
// 		color: $white;
// 		@include adaptiveValue("margin-bottom", 40, 20);
// 	}

// 	&__btn {
// 		min-width: 256px;
// 		min-height: 64px;
// 		@media (max-width:$pc) {
// 			min-height: 60px;
// 		}
// 		@media (max-width: $tablet) {
// 			min-height: 45px;
// 		}
// 		@media (max-width: $mobileSmall) {
// 			width: 100%;
// 		}
// 	}

// 	&__bg {
// 		@extend %no-anim;
// 		transition: all 0.8s ease 0.3s;
// 	}

// 	&__circle {
// 		position: absolute;
// 		@include adaptiveValue("width", 401, 200);
// 		@include adaptiveValue("height", 401, 200);
// 		top: 75px;
// 		left: 17 / 1540 * 100%;
// 		border: 5px solid $orange;
// 		border-radius: 50%;
// 		z-index: 2;
// 		@media (max-width: 600px) {
// 			left: auto;
// 			right: 60px;
// 		}
// 		&_small {
// 			top: 30 / 1540 * 100%;
// 			left: 0;
// 			@include adaptiveValue("width", 65, 30);
// 			@include adaptiveValue("height", 65, 30);
// 			@media (max-width: $mobile) {
// 				top: -30px;
// 			}
// 			@media (max-width: 600px) {
// 				left: 20px;
// 			}
// 		}
// 	}

// 	&__dots {
// 		position: absolute;
// 		width: 213px;
// 		top: 280px;
// 		left: 30 / 1540 * 100%;
// 		z-index: 1;
// 		@media (max-width:$pc) {
// 			top: -40px;
// 			left: 0px;
// 		}
// 		@media (max-width: $tablet) {
// 			@include adaptiveValue("width", 213, 120);
// 		}
// 		@media (max-width: $mobile) {
// 			top: -20px;
// 			left: 60px;
// 		}
// 		@media (max-width: 600px) {
// 			left: auto;
// 			right: 50px;
// 			top: 20px;
// 		}
// 		img {
// 			max-width: 100%;
// 		}
// 	}
// }

// //========================================================================================================================================================

// .testi {
// 	&__wrapper {
// 		background: linear-gradient(
// 			180deg,
// 			rgba(236, 240, 253, 0) 0%,
// 			rgba(236, 240, 253, 0.53) 14.32%,
// 			#ecf0fd 45.83%,
// 			rgba(236, 240, 253, 0.43) 84.33%,
// 			rgba(236, 240, 253, 0) 100%
// 		);
// 		&._animate {
// 			.testi__bg-images,
// 			.testi__bg,
// 			.testi__slider {
// 				@extend %anim;
// 			}
// 			.testi__title {
// 				@extend %anim;
// 				transform: translate(0px, 0px);
// 			}
// 		}
// 	}

// 	&__container {
// 		position: relative;
// 	}

// 	&__bg-images {
// 		transition: all 0.8s ease 0.8s;
// 		@extend %no-anim;
// 	}

// 	&__image {
// 		border-radius: 50%;
// 		overflow: hidden;
// 		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
// 		position: absolute;
// 		z-index: 2;
// 		@media (max-width: $tablet) {
// 			display: none;
// 		}
// 		&_1 {
// 			@include adaptiveValue("width", 136, 100);
// 			@include adaptiveValue("height", 136, 100);
// 			top: 216px;
// 			left: 245 / 1630 * 100%;
// 		}

// 		&_2 {
// 			@include adaptiveValue("width", 90, 60);
// 			@include adaptiveValue("height", 90, 60);
// 			top: 200px;
// 			right: 300 / 1630 * 100%;
// 		}

// 		&_3 {
// 			@include adaptiveValue("width", 150, 120);
// 			@include adaptiveValue("height", 150, 120);
// 			right: 85 / 1630 * 100%;
// 			top: 452px;
// 		}

// 		&_4 {
// 			@include adaptiveValue("width", 90, 60);
// 			@include adaptiveValue("height", 90, 60);
// 			top: 425px;
// 			left: -40 / 1630 * 100%;
// 			@media (max-width: 1750px) {
// 				left: 20 / 1630 * 100%;
// 			}
// 		}

// 		&_5 {
// 			@include adaptiveValue("width", 100, 70);
// 			@include adaptiveValue("height", 100, 70);
// 			bottom: 314px;
// 			left: 110 / 1630 * 100%;
// 		}

// 		&_6 {
// 			@include adaptiveValue("width", 90, 60);
// 			@include adaptiveValue("height", 90, 60);
// 			right: 250 / 1630 * 100%;
// 			bottom: 270px;
// 			@media (max-width: 1300px) {
// 				bottom: 200px;
// 				right: 150 / 1630 * 100%;
// 			}
// 		}
// 	}

// 	&__body {
// 		@include adaptiveValue("padding-top", 135, 60);
// 		@include adaptiveValue("padding-bottom", 310, 60);
// 		@media (min-width: $tablet) {
// 			margin: 0 auto;
// 			max-width: 730px;
// 		}
// 	}

// 	&__title {
// 		@extend %h2;
// 		@include adaptiveValue("margin-bottom", 100, 40);
// 		@media (min-width: $mobile) {
// 			max-width: 520px;
// 			margin: 0 auto;
// 			@include adaptiveValue("margin-bottom", 100, 40);
// 		}
// 		transform: translate(0px, 20px);
// 		transition: all 0.8s ease 0s;
// 		@extend %no-anim;
// 	}

// 	&__slider {
// 		position: relative;
// 		transition: all 0.8s ease 0.5s;
// 		@extend %no-anim;
// 	}

// 	&__navigation {
// 		position: relative;
// 		z-index: 25;
// 		display: flex;
// 		align-items: center;
// 		justify-content: flex-end;
// 		margin: 0px 75px 0px 0px;
// 		@media (min-width: $tablet) {
// 			max-width: 730px;
// 		}
// 		@media (max-width: $mobileSmall) {
// 			margin: 0;
// 		}
// 	}

// 	&__nav-item {
// 		font-size: 25px;
// 		margin: 0px 15px;
// 		opacity: 0.3;
// 		transition: all 0.3s ease 0s;
// 		color: $dark;
// 		@media (any-hover: hover) {
// 			&:hover {
// 				opacity: 1;
// 			}
// 		}
// 		&_prev {
// 			transform: rotate(-180deg);
// 			font-size: 15px;
// 		}

// 		&_next {
// 		}
// 	}

// 	&__bg {
// 		pointer-events: none;
// 		position: absolute;
// 		width: 100%;
// 		height: 100%;
// 		top: 0;
// 		left: 0;
// 		z-index: 1;
// 		transition: all 0.8s ease 0s;
// 		@extend %no-anim;
// 		@media (max-width: $mobileSmall) {
// 			display: none;
// 		}
// 	}

// 	&__dots {
// 		position: absolute;
// 		z-index: 1;
// 		img {
// 			max-width: 100%;
// 		}
// 		&_g {
// 			bottom: -150 / 730 * 100%;
// 			left: 0;
// 			transform: rotate(90deg);
// 			@include adaptiveValue("width", 214, 150);
// 			@media (max-width: $tablet) {
// 				left: 0;
// 			}
// 		}

// 		&_r {
// 			top: 25px;
// 			right: -130 / 730 * 100%;
// 			@include adaptiveValue("width", 472, 270);
// 			@media (max-width: $tablet) {
// 				top: -20px;
// 				right: -190 / 730 * 100%;
// 			}
// 		}
// 	}
// }
// .slider-testi {
// 	&__slick {
// 		@include adaptiveValue("margin-bottom", 90, 70);
// 		overflow: visible;
// 		@media (max-width: $mobileSmall) {
// 			@include adaptiveValue("margin-bottom", 40, 30);
// 			margin: 0px -15px;
// 		}
// 		.swiper-wrapper {
// 			position: relative;
// 			height: 380px;
// 			transform: translate3d(0, 0, 0) !important;
// 			z-index: 10;
// 			@media (max-width: $mobile) {
// 				@include adaptiveValue("height", 380, 380);
// 			}
// 		}
// 	}

// 	&__slide {
// 		background-color: $white;
// 		box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
// 		border-radius: 20px;
// 		@include adaptiveValue("padding-right", 80, 20);
// 		@include adaptiveValue("padding-left", 80, 20);
// 		padding-top: 40px;
// 		padding-bottom: 20px;
// 		display: flex;
// 		flex-direction: column;
// 		align-items: center;
// 		justify-content: center;
// 		position: absolute;
// 		width: 100%;
// 		height: 100%;
// 		top: 0;
// 		left: 50%;
// 		transform: translate(-50%, 0px);
// 		text-align: center;
// 		transition: all 0.8s ease 0s;
// 		top: 50px;
// 		z-index: 3;
// 		overflow: hidden;
// 		width: calc(100% - 100px);
// 		@media (max-width: $mobileSmall) {
// 			border-radius: 0;
// 			width: 100%;
// 			top: 0;
// 			visibility: hidden;
// 			opacity: 0;
// 		}
// 		&.swiper-slide-next,
// 		&.swiper-slide-prev {
// 			@media (min-width: $mobileSmall) {
// 				top: 30px;
// 				z-index: 4;
// 				width: calc(100% - 50px);
// 			}
// 		}
// 		&.swiper-slide-active {
// 			@media (min-width: $mobileSmall) {
// 				top: 0;
// 				z-index: 5;
// 				width: 100%;
// 			}
// 			@media (max-width: $mobileSmall) {
// 				visibility: visible;
// 				opacity: 1;
// 			}
// 			.slider-testi__text {
// 				opacity: 1;
// 				visibility: visible;
// 			}
// 		}
// 	}

// 	&__text {
// 		position: relative;
// 		z-index: 2;
// 		font-family: "Circular";
// 		@include adaptiv-font(26, 20, 1);
// 		line-height: 40 / 26 * 100%;
// 		color: $grey;
// 		transition: all 0.8s ease 0s;
// 		opacity: 0;
// 		visibility: hidden;
// 	}

// 	&__quote {
// 		pointer-events: none;
// 		position: absolute;
// 		transform: translate(-50%, 0px);
// 		top: 30px;
// 		left: 50%;
// 		z-index: 1;
// 		@include adaptiveValue("width", 235, 100);
// 		img {
// 			max-width: 100%;
// 		}
// 	}
// }

// //========================================================================================================================================================

// .support {
// 	&__wrapper {
// 	}

// 	&__container {
// 	}

// 	&__top {
// 		text-align: center;
// 		margin-bottom: 15px;
// 		@media (min-width: $mobile) {
// 			margin: 0 auto;
// 			max-width: 660px;
// 		}
// 		&._animate {
// 			.support__title,
// 			.support__text {
// 				transform: translate(0px, 0px);
// 				@extend %anim;
// 			}
// 		}
// 	}

// 	&__title {
// 		text-align: center;
// 		@extend %h2;
// 		@include adaptiveValue("margin-bottom", 30, 20);
// 		@extend %no-anim;
// 		transform: translate(0px, 20px);
// 		transition: all 0.8s ease 0s;
// 	}

// 	&__text {
// 		@extend %text_2;
// 		color: $grey;
// 		@extend %no-anim;
// 		transform: translate(0px, 20px);
// 		transition: all 0.8s ease 0.3s;
// 	}

// 	&__body {
// 		position: relative;
// 		&._animate {
// 			.support__image,
// 			.support-bg {
// 				transform: translate(0px, 0px);
// 				@extend %anim;
// 			}
// 		}
// 	}

// 	&__bg {
// 	}

// 	&__image {
// 		position: relative;
// 		z-index: 2;
// 		text-align: center;
// 		img {
// 			max-width: 100%;
// 		}
// 		@extend %no-anim;
// 		transform: translate(0px, 20px);
// 		transition: all 0.8s ease 0.3s;
// 	}

// 	&__bottom {
// 		position: relative;
// 		z-index: 2;
// 		&._animate {
// 			.bottom-support__text,
// 			.bottom-support__btn {
// 				@extend %anim;
// 				transform: translate(0px, 0px);
// 			}
// 		}
// 	}
// }
// .support-bg {
// 	position: absolute;
// 	width: 100%;
// 	height: 100%;
// 	top: 0;
// 	left: 0;
// 	z-index: 1;
// 	@extend %no-anim;
// 	transition: all 0.8s ease 0s;
// 	&__image {
// 		position: absolute;
// 		width: 100%;
// 		height: 100%;
// 		@include adaptiveValue("top", 123, 20);
// 		left: 50%;
// 		transform: translate(-50%, 0px);
// 		img {
// 			max-width: 100%;
// 		}
// 	}

// 	&__dots {
// 		position: absolute;
// 		@media (max-width: $mobileSmall) {
// 			display: none;
// 		}
// 		img {
// 			max-width: 100%;
// 		}
// 		&_g {
// 			transform: rotate(90deg);
// 			left: 0;
// 			bottom: -100%;
// 			@include adaptiveValue("width", 214, 100);
// 		}

// 		&_r {
// 			@include adaptiveValue("width", 472, 250);
// 			right: 0;
// 			bottom: -65px;
// 		}
// 	}

// 	&__circle {
// 		&_1 {
// 			@include adaptiveValue("width", 60, 40);
// 			@include adaptiveValue("height", 60, 40);
// 			top: 70px;
// 			left: 0;
// 			@media (max-width:$pc) {
// 				top: 0;
// 			}
// 		}

// 		&_2 {
// 			@include adaptiveValue("width", 35, 20);
// 			@include adaptiveValue("height", 35, 20);
// 			top: 200px;
// 			left: 80 / 1630 * 100%;
// 			@media (max-width:$pc) {
// 				left: 5px;
// 				top: 150px;
// 			}
// 			@media (max-width: $mobile) {
// 				display: none;
// 			}
// 		}

// 		&_3 {
// 			@include adaptiveValue("width", 45, 30);
// 			@include adaptiveValue("height", 45, 30);
// 			top: 35px;
// 			right: 100 / 1630 * 100%;
// 			@media (max-width:$pc) {
// 				top: 0;
// 			}
// 			@media (max-width: $mobile) {
// 				top: -20px;
// 			}
// 		}
// 	}
// }
// .bottom-support {
// 	background-color: $darkPurple;
// 	&__container {
// 	}

// 	&__body {
// 		position: relative;
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		@include adaptiveValue("padding-top", 80, 30);
// 		@include adaptiveValue("padding-bottom", 80, 30);
// 		@media (max-width: 600px) {
// 			flex-wrap: wrap;
// 		}
// 	}

// 	&__text {
// 		color: $white;
// 		@include adaptiv-font(36, 18, 1);
// 		line-height: 52 / 36 * 100%;
// 		@media (min-width: 600px) {
// 			flex: 0 1 855px;
// 			@include adaptiveValue("margin-right", 70, 10);
// 		}
// 		@media (max-width: 600px) {
// 			text-align: center;
// 			flex: 1 1 100%;
// 			margin-bottom: 20px;
// 		}
// 		@extend %no-anim;
// 		transform: translate(0px, 20px);
// 		transition: all 0.8s ease 0s;
// 	}

// 	&__btn {
// 		flex: 0 0 210px;
// 		min-height: 72px;
// 		border: 2px solid $white;
// 		border-radius: 60px;
// 		background-color: $darkPurple;
// 		@media (any-hover: hover) {
// 			&:hover {
// 				border: 2px solid $green;
// 			}
// 		}
// 		@media (max-width: $tablet) {
// 			min-height: 60px;
// 			flex: 0 0 180px;
// 		}
// 		@media (max-width: $mobileSmall) {
// 			flex: 1 1 100%;
// 			min-height: 45px;
// 		}
// 		@extend %no-anim;
// 		transform: translate(0px, 20px);
// 		transition: all 0.8s ease 0s;
// 	}
// 	&__circle {
// 		@include adaptiveValue("width", 90, 40);
// 		@include adaptiveValue("height", 90, 40);
// 		bottom: -20px;
// 		right: 20px;
// 		@media (min-width:$pc) {
// 			right: -20px;
// 		}
// 		@media (max-width: $mobileSmall) {
// 			right: 0;
// 		}
// 	}
// }
