.home {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;

    &__wrapper {
        flex: 0 0 100%;
        @media (max-width: $mobile) {
            flex: 1 1 100%;
        }
    }

    &__container {
    }

    &__images {
        flex: 0 0 percent(840, 1920);
        transform: translate(-100%, 0px);
        @media (max-width: $pc) {
            flex: 0 0 50%;
        }
        @media (max-width: $tablet) {
            flex: 0 0 40%;
        }
        @media (max-width: $mobile) {
            display: none;
        }
    }

    &__bg {
        pointer-events: none;
        position: absolute;
        width: percent(1767, 1920);
        height: percent(1666, 1080);
        @include adaptiveValue("top", -579, 0);
        right: percent(-804, 1920);
        z-index: -1;
        img {
            max-width: 100%;
        }
    }
}

.content-home {
    &__inner {
        max-width: percent(960, 1600);
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        @media (max-height: em(1080)) {
            min-height: 100vh;
            padding: rem(100) rem(60) rem(20) rem(60);
            @media (max-width: $pc) {
                max-width: 50%;
                padding: rem(100) 0px rem(20) 0px !important;
            }
        }
        @media (min-height: em(1081)) {
            padding: rem(300) rem(60) rem(20) rem(60);
            @media (max-width: $pc) {
                max-width: 50%;
                padding: rem(100) 0px rem(20) 0px !important;
            }
        }
        @media (max-width: $tablet) {
            min-height: 0 !important;
            max-width: 60%;
        }
        @media (max-width: $mobile) {
            max-width: none;
        }
    }

    &__title {
        font-family: "Circular";
        font-weight: 700;
        @include adaptiveValue("font-size", 85, 30);
        line-height: math.div(95, 85);
        @include adaptiveValue("margin-bottom", 30, 20);

        @extend %no-anim;
        transform: translate(-20%, 0px);
        transition: opacity 0.8s ease 0.2s, visibility 0.8s ease 0.2s, transform 0.8s ease 0.2s;
    }

    &__text {
        @extend %text_2;
        color: $grey;
        @include adaptiveValue("margin-bottom", 30, 20);
        max-width: rem(720);
        @media (max-width: $mobile) {
            max-width: none;
        }

        @extend %no-anim;
        transform: translate(-20%, 0px);
        transition: opacity 0.8s ease 0.5s, visibility 0.8s ease 0.5s, transform 0.8s ease 0.5s;
    }

    &__buttons {
        display: flex;
        align-items: center;
        span {
            margin: 0px rem(12);
            @media (max-width: $tablet) {
                margin: 0px rem(10);
            }
            @media (max-width: $mobileSmall) {
                margin-right: rem(10);
            }
        }
        @media (max-width: $mobileSmall) {
            flex-wrap: wrap;
        }

        @extend %no-anim;
        transform: translate(-20%, 0px);
        transition: opacity 0.8s ease 0.8s, visibility 0.8s ease 0.8s, transform 0.8s ease 0.8s;
    }

    &__btn {
        border-radius: rem(60);
        min-height: rem(72);
        min-width: rem(270);
        @media (max-width: $pc) {
            min-height: rem(60);
            min-width: rem(230);
        }
        @media (max-width: $tablet) {
            min-height: rem(45);
            min-width: rem(200);
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
            margin-bottom: rem(20);
        }
    }

    &__more {
        @extend %text_2;
        font-weight: 700;
        color: $blue;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $purple;
            }
        }
    }
}

.images-home {
    @media (max-height: em(1080)) {
        margin-top: rem(100);
    }
    @media (min-height: em(1081)) {
        margin-top: rem(300);
        @media (max-width: $pc) {
            margin-top: rem(100) !important;
        }
    }
    position: relative;
    margin-left: auto;

    @extend %no-anim;
    transition: opacity 0.8s ease 0.5s, visibility 0.8s ease 0.5s;

    &__image {
        img {
            max-width: 100%;
        }
        &_1 {
            position: absolute;
            width: percent(282, 840);
            top: rem(-72);
            left: percent(45, 840);
            overflow: hidden;
            border-radius: rem(20);
            box-shadow: 0px rem(18) rem(53) rgba(162, 173, 192, 0.5);
            z-index: 4;
            max-width: rem(282);
            @media (max-width: $tablet) {
                left: percent(80, 840);
            }
        }

        &_2 {
            position: relative;
            width: percent(907, 840);
            @include adaptiveValue("margin-left", 120, 60, 991.98, 767.98, 1);
            z-index: 3;
            transform: translate(20%, 0px);
            transition: transform 0.8s ease 0.2s, opacity 0.8s ease 0.2s, visibility 0.8s ease 0.2s;
        }

        &_3 {
            background-color: $white;
            position: absolute;
            width: percent(406, 840);
            bottom: -35%;
            left: percent(228, 840);
            overflow: hidden;
            border-radius: rem(20);
            box-shadow: 0px rem(18) rem(53) rgba(215, 228, 249, 0.5);
            z-index: 4;
            max-width: rem(406);
        }
    }
    &__dots {
        position: absolute;
        width: percent(250, 840);
        max-width: rem(250);
        z-index: 2;

        @extend %no-anim;
        transition: opacity 0.8s ease 0.3s, visibility 0.8s ease 0.3s;
        img {
            width: 100%;
        }
        &_1 {
            top: rem(-135);
            left: percent(160, 840);
            transform: rotate(90deg);
            @media (min-width: rem(1920)) {
                left: rem(160);
            }
            @media (max-width: $pc) {
                top: 50%;
                transform: rotate(90deg) translate(-100%, 0%);
                left: rem(140);
            }
        }

        &_2 {
            top: rem(-140);
            right: percent(161, 840);
            @media (min-width: em(1920)) {
                left: rem(427);
                right: auto;
            }
            @media (max-width: $tablet) {
                display: none;
            }
        }

        &_3 {
            top: rem(135);
            right: percent(-18, 840);
            @media (min-width: em(1920)) {
                right: auto;
                left: rem(605);
            }
            @media (max-width: $tablet) {
                top: 0;
            }
        }
    }
    &__item {
        position: absolute;
        z-index: 5;

        @extend %no-anim;
        transition: opacity 0.8s ease 0.3s, visibility 0.8s ease 0.3s;
        img {
            max-width: 100%;
        }
        &_1 {
            bottom: rem(20);
            left: percent(80, 840);
            width: percent(75, 840);
            min-width: rem(40);
        }

        &_2 {
            top: rem(-25);
            left: percent(390, 840);
            width: percent(147, 840);
            min-width: rem(80);
        }

        &_3 {
            width: percent(100, 840);
            left: percent(660, 840);
            bottom: rem(-50);
            min-width: rem(60);
            @media (max-width: $tablet) {
                bottom: rem(-30);
            }
        }
    }
}

//========================================================================================================================================================

.simple {
    position: relative;
    z-index: 3;
    &__container {
    }

    &__title {
        flex: 1 1 100%;
        @extend %h2;
        @include adaptiveValue("margin-bottom", 80, 40);

        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, rem(20), 0.8, 0);
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: rem(70);
        padding-left: rem(60);
        padding-right: rem(30);
        @media (max-width: em(1750)) {
            padding-left: rem(120);
        }
        @media (max-width: $pc) {
            padding: 0 rem(60);
            @include adaptiveValue("gap", 40, 20, 1600, 991.98, 1);
        }
        @media (max-width: em(1300)) {
            padding: 0 rem(15);
        }
        @media (max-width: $tablet) {
            padding: 0;
        }
        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
            @include adaptiveValue("gap", 100, 40, 767.98, 320, 1);
        }
    }

    &__item {
    }
}
.item-simple {
    // ANIMATION ==================================================================================================================================================
    @include inViewBasic(0, 10%, 1, 0);
    &_1 {
    }

    &_2 {
        @media (min-width: $mobile) {
            @include adaptiveValue("margin-top", 75, 20);
        }
    }
    &_3 {
        @media (min-width: $mobile) {
            @include adaptiveValue("margin-top", 150, 50);
        }
    }

    &__images {
        display: block;
        position: relative;
        @include adaptiveValue("margin-bottom", 40, 25);
        @media (any-hover: hover) {
            &:hover {
                .item-simple__image-ibg_1-3,
                .item-simple__image-ibg_2-1,
                .item-simple__image-ibg_3-1 {
                    box-shadow: 0px rem(18) rem(53) rgba(215, 228, 249, 1);
                }
            }
        }
    }

    &__image {
        box-shadow: 0px rem(18) rem(53) rgba(215, 228, 249, 0.5);
        img {
            border-radius: rem(10);
            overflow: hidden;
            max-width: 100%;
        }
        &-ibg {
            box-shadow: 0px rem(18) rem(53) rgba(215, 228, 249, 0.5);
            transition: box-shadow 0.3s ease 0s;
            img {
                border-radius: rem(20);
                overflow: hidden;
            }
            &_1-3,
            &_2-1,
            &_3-1 {
                padding-bottom: percent(290, 430);
                border-radius: rem(20);
                position: relative;
                z-index: 1;
                min-height: rem(200);
                @media (max-width: $mobile) {
                    padding-bottom: percent(250, 430);
                }
            }
        }

        &_1-1,
        &_1-2,
        &_2-2,
        &_2-3,
        &_2-4,
        &_2-5,
        &_2-6,
        &_3-2,
        &_3-3,
        &_3-4 {
            position: absolute;
            z-index: 2;
            @media (max-width: em(600)) {
                display: none;
            }
        }

        &_2-2,
        &_2-3,
        &_2-4,
        &_2-5,
        &_2-6 {
            width: percent(105, 420);
            border-radius: rem(10);
            max-width: rem(105);
        }

        &_1-1 {
            width: percent(63, 420);
            top: percent(8, 283);
            left: percent(-80, 420);
            max-width: rem(63);
            @media (max-width: $pc) {
                left: percent(-40, 420);
            }
            @media (max-width: em(1300)) {
                left: percent(-10, 420);
            }
            @media (max-width: $tablet) {
                top: percent(-50, 283);
                left: percent(20, 420);
            }
            @media (max-width: $mobile) {
                top: percent(-20, 283);
            }
        }

        &_1-2 {
            width: percent(202, 420);
            max-width: rem(202);
            top: percent(50, 283);
            left: percent(-106, 420);
            @media (max-width: $pc) {
                left: percent(-40, 420);
            }
            @media (max-width: em(1300)) {
                left: percent(-10, 420);
            }
            @media (max-width: $tablet) {
                top: percent(20, 283);
                left: percent(20, 420);
            }
        }

        &_2-2 {
            top: percent(-42, 283);
            left: percent(48, 420);
            @media (max-width: $mobile) {
                top: percent(-20, 283);
                left: percent(20, 420);
            }
        }

        &_2-3 {
            top: percent(18, 283);
            left: percent(289, 420);
        }

        &_2-4 {
            top: percent(112, 283);
            left: percent(48, 420);
        }

        &_2-5 {
            top: percent(134, 283);
            left: percent(220, 420);
        }

        &_2-6 {
            top: percent(249, 283);
            left: percent(150, 420);
            @media (max-width: $mobile) {
                top: percent(230, 283);
            }
        }

        &_3-2 {
            width: percent(114, 420);
            max-width: rem(114);
            top: percent(-135, 283);
            left: percent(268, 420);
            @media (max-width: em(1300)) {
                top: percent(-95, 283);
            }
            @media (max-width: $mobile) {
                top: percent(-30, 283);
            }
        }

        &_3-3 {
            width: percent(140, 420);
            max-width: rem(140);
            top: percent(-50, 283);
            left: percent(32, 420);
            @media (max-width: $mobile) {
                top: percent(-20, 283);
            }
        }
        &_3-4 {
            width: percent(170, 420);
            max-width: rem(170);
            top: percent(115, 283);
            left: percent(325, 420);
            @media (max-width: $pc) {
                left: percent(290, 420);
            }
            @media (max-width: em(1300)) {
                left: percent(260, 420);
            }
            @media (max-width: $tablet) {
                top: percent(145, 283);
                left: percent(230, 420);
            }
            @media (max-width: $mobile) {
                top: percent(165, 283);
                left: percent(280, 420);
            }
        }
    }

    &__title {
        display: inline-flex;
        @extend %h4;
        transition: color 0.3s ease 0s;
        @include adaptiveValue("margin-bottom", 25, 10);
        @media (any-hover: hover) {
            &:hover {
                color: $purple;
            }
        }
    }

    &__text {
        line-height: math.div(30, 18);
        color: $grey;
        @include adaptiveValue("margin-bottom", 25, 10);
    }

    &__more {
        @extend %text_2;
        font-weight: 700;
        color: $blue;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $purple;
            }
        }
    }
}

//========================================================================================================================================================

.doc {
    background-color: $purple;
    position: relative;
    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: rem(30);
        left: 0;
        border-radius: 50%;
        background-color: $white;
    }
    &::before {
        top: 0;
        transform: translate(0px, -50%);
    }
    &::after {
        bottom: 0;
        transform: translate(0px, 50%);
    }

    &__woo {
        position: absolute;
        width: percent(750, 1920);
        top: rem(-20);
        right: percent(-144, 1920);
        z-index: 1;
        min-width: rem(460);
        @media (max-width: $mobileSmall) {
            min-width: rem(290);
        }
        img {
            max-width: 100%;
        }
    }

    &__container {
    }

    &__body {
        @media (min-width: $pc) {
            padding: 0px rem(30);
        }
    }

    &__row {
        position: relative;
        &:only-child {
            .doc__circle {
                top: rem(25);
            }
            .doc__dots {
                display: none;
            }
        }
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 140, 120);
            @media (max-width: $mobile) {
                @include adaptiveValue("margin-bottom", 100, 60);
            }
        }
        &_1 {
            .doc__image-ibg {
                @media (min-width: $tablet) {
                    @include adaptiveValue("margin-left", 125, 40, 1600, 991.98, 1);
                }
                @media (min-width: $mobile) {
                    @include adaptiveValue("margin-top", -140, -20, 1600, 767.98, 1);
                    @include adaptiveValue("margin-bottom", -50, -20, 1600, 767.98, 1);
                    @include adaptiveValue("margin-right", 70, 0, 1600, 767.98, 1);
                }
                @media (max-width: em(600)) {
                    margin-bottom: rem(30);
                }
            }
        }

        &_2 {
            .doc__content {
                justify-content: flex-end;
                @media (max-width: em(1300)) {
                    justify-content: center;
                }
            }
            .doc__image-ibg {
                transform: translate(20%, 0px);
                @media (min-width: $tablet) {
                    @include adaptiveValue("margin-right", 185, 40, 1600, 991.98, 1);
                }
                @media (min-width: $mobile) {
                    @include adaptiveValue("margin-top", -30, -10, 1600, 767.98, 1);
                    @include adaptiveValue("margin-bottom", -160, -20, 1600, 767.98, 1);
                    @include adaptiveValue("margin-left", 70, 0, 1600, 767.98, 1);
                }
                @media (max-width: em(600)) {
                    margin-bottom: rem(20);
                    order: 1;
                }
            }
            .doc__info {
                transform: translate(-20%, 0px);
                @media (max-width: em(600)) {
                    order: 2;
                }
            }
            .doc__circle {
                @include adaptiveValue("width", 262, 100);
                @include adaptiveValue("height", 262, 100);
                top: rem(-56);
                left: auto;
                right: percent(56, 1540);
                @media (max-width: $mobile) {
                    top: rem(-20);
                }
                @media (max-width: em(600)) {
                    top: rem(-40);
                }
                &_small {
                    top: rem(-80);
                    z-index: 4;
                    left: auto;
                    right: percent(460, 1540);
                    @include adaptiveValue("width", 65, 30);
                    @include adaptiveValue("height", 65, 30);
                    @media (max-width: $mobile) {
                        top: rem(-10);
                        z-index: 2;
                    }
                    @media (max-width: em(600)) {
                        right: auto;
                        top: rem(-20);
                        left: rem(60);
                    }
                }
            }
            .doc__dots {
                transform: rotate(-90deg) translate(60%, -40%);
                width: rem(213);
                top: rem(160);
                left: auto;
                right: rem(-70);
                @media (max-width: em(1300)) {
                    transform: rotate(-90deg) translate(60%, -30%);
                }
                @media (max-width: $tablet) {
                    @include adaptiveValue("width", 213, 120);
                    transform: translate(0px, 0px);
                    top: auto;
                    bottom: rem(-40);
                }
                @media (max-width: $mobile) {
                    right: rem(60);
                    bottom: rem(-20);
                }
                @media (max-width: em(600)) {
                    top: rem(20);
                    bottom: auto;
                    right: rem(50);
                }
            }
        }
    }

    &__content {
        display: flex;
        position: relative;
        column-gap: rem(20);
        z-index: 3;
        @media (max-width: em(1300)) {
            justify-content: center;
        }
        @media (max-width: em(600)) {
            flex-wrap: wrap;
        }
    }

    &__image-ibg {
        flex: 0 1 rem(430);
        overflow: hidden;
        box-shadow: rem(-25) rem(20) rem(44) rgba(84, 48, 209, 0.4);
        border-radius: rem(20);
        max-height: em(600);
        @media (max-width: $mobile) {
            margin: 0;
            max-height: rem(250);
            flex: 0 1 45%;
        }
        @media (max-width: em(600)) {
            flex: 1 1 100%;
            padding-bottom: 50%;
            min-height: rem(250);
        }

        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(-25%, 0, 0.8, 0, true);
    }

    &__info {
        flex: 0 1 rem(480);
        @media (max-width: $mobile) {
            flex: 0 1 55%;
        }
        @media (max-width: em(600)) {
            flex: 1 1 100%;
        }

        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(20%, 0, 0.8, 0.9, true);
    }

    &__title {
        @extend %h4;
        color: $white;
        margin-bottom: rem(15);
    }

    &__text {
        line-height: math.div(30, 18);
        color: $white;
        @include adaptiveValue("margin-bottom", 40, 20);
    }

    &__btn {
        min-width: rem(256);
        min-height: rem(64);
        @media (max-width: $pc) {
            min-height: rem(60);
        }
        @media (max-width: $tablet) {
            min-height: rem(45);
        }
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, 0, 0.8, 0.3, true);
    }

    &__circle {
        position: absolute;
        @include adaptiveValue("width", 401, 200);
        @include adaptiveValue("height", 401, 200);
        top: rem(75);
        left: percent(17, 1540);
        border: rem(5) solid $orange;
        border-radius: 50%;
        z-index: 2;
        @media (max-width: em(600)) {
            left: auto;
            right: rem(6);
        }
        &_small {
            top: rem(20);
            left: 0;
            @include adaptiveValue("width", 65, 30);
            @include adaptiveValue("height", 65, 30);
            @media (max-width: $mobile) {
                top: rem(-30);
            }
            @media (max-width: em(600)) {
                left: rem(20);
            }
        }
    }

    &__dots {
        position: absolute;
        width: rem(213);
        top: rem(180);
        left: percent(30, 1540);
        z-index: 1;
        @media (max-width: $pc) {
            top: rem(-40);
            left: 0px;
        }
        @media (max-width: $tablet) {
            @include adaptiveValue("width", 213, 120);
        }
        @media (max-width: $mobile) {
            top: rem(-20);
            left: rem(60);
        }
        @media (max-width: em(600)) {
            left: auto;
            right: rem(50);
            top: rem(20);
        }
        img {
            max-width: 100%;
        }
    }
}

//========================================================================================================================================================

.testi {
    background: linear-gradient(
        180deg,
        rgba(236, 240, 253, 0) 0%,
        rgba(236, 240, 253, 0.53) 14.32%,
        #ecf0fd 45.83%,
        rgba(236, 240, 253, 0.43) 84.33%,
        rgba(236, 240, 253, 0) 100%
    );

    &__container {
        position: relative;
    }

    &__bg-images {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, 0, 0.8, 0.8, true);
    }

    &__image-ibg {
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 rem(10) rem(10) rgba(0, 0, 0, 0.3);
        position: absolute;
        z-index: 2;
        @media (max-width: $tablet) {
            display: none;
        }
        &_1 {
            @include adaptiveValue("width", 136, 100);
            @include adaptiveValue("height", 136, 100);
            top: rem(216);
            left: percent(245, 1630);
        }

        &_2 {
            @include adaptiveValue("width", 90, 60);
            @include adaptiveValue("height", 90, 60);
            top: rem(200);
            right: percent(300, 1630);
        }

        &_3 {
            @include adaptiveValue("width", 150, 120);
            @include adaptiveValue("height", 150, 120);
            right: percent(85, 1630);
            top: rem(452);
        }

        &_4 {
            @include adaptiveValue("width", 90, 60);
            @include adaptiveValue("height", 90, 60);
            top: rem(425);
            left: percent(-40, 1630);
            @media (max-width: rem(1750)) {
                left: percent(20, 1630);
            }
        }

        &_5 {
            @include adaptiveValue("width", 100, 70);
            @include adaptiveValue("height", 100, 70);
            bottom: rem(314);
            left: percent(110, 1630);
        }

        &_6 {
            @include adaptiveValue("width", 90, 60);
            @include adaptiveValue("height", 90, 60);
            right: percent(250, 1630);
            bottom: rem(270);
            @media (max-width: em(1300)) {
                bottom: rem(200);
                right: percent(150, 1630);
            }
        }
    }

    &__body {
        @include adaptiveValue("padding-top", 135, 60);
        @include adaptiveValue("padding-bottom", 310, 60);
        @media (min-width: $tablet) {
            margin: 0 auto;
            max-width: rem(730);
        }
    }

    &__title {
        @extend %h2;
        @include adaptiveValue("margin-bottom", 100, 40);
        @media (min-width: $mobile) {
            max-width: rem(520);
            margin: 0 auto;
            @include adaptiveValue("margin-bottom", 100, 40);
        }

        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, rem(20), 0.8, 0, true);
    }

    &__slider {
        position: relative;
        @include inViewBasic(0, 0, 0.8, 0.5, true);
    }

    &__navigation {
        position: relative;
        z-index: 25;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @media (min-width: $tablet) {
            max-width: rem(7330);
        }
        @media (min-width: $mobileSmall) {
            margin-right: rem(75);
        }
    }

    &__item {
        font-size: rem(25);
        margin: 0px rem(15);
        opacity: 0.3;
        transition: opacity 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                opacity: 1;
            }
        }
        &_prev {
            transform: rotate(-180deg);
            font-size: rem(15);
        }

        &_next {
        }
    }

    &__bg {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        @media (max-width: $mobileSmall) {
            display: none;
        }
        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, 0, 0.8, 0, true);
    }

    &__dots {
        position: absolute;
        z-index: 1;
        img {
            max-width: 100%;
        }
        &_g {
            bottom: percent(-150, 730);
            left: 0;
            transform: rotate(90deg);
            @include adaptiveValue("width", 214, 150);
            @media (max-width: $tablet) {
                left: 0;
            }
        }

        &_r {
            top: rem(25);
            right: percent(-130, 730);
            @include adaptiveValue("width", 472, 270);
            @media (max-width: $tablet) {
                top: rem(-20);
                right: percent(-190, 730);
            }
        }
    }
}
.slider-testi {
    &__swiper {
        @include adaptiveValue("margin-bottom", 90, 70);
        overflow: visible !important;
        @media (max-width: $mobileSmall) {
            @include adaptiveValue("margin-bottom", 40, 30);
            margin: 0px rem(-15);
        }
        .swiper-wrapper {
            position: relative;
            height: rem(380);
            transform: translate3d(0, 0, 0) !important;
            z-index: 10;
            @media (max-width: $mobile) {
                @include adaptiveValue("height", 380, 380);
            }
        }
    }

    &__slide {
        background-color: $white;
        box-shadow: 0px rem(18) rem(53) rgba(215, 228, 249, 0.5);
        border-radius: rem(20);
        @include adaptiveValue("padding-right", 80, 20);
        @include adaptiveValue("padding-left", 80, 20);
        padding-top: rem(40);
        padding-bottom: rem(20);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0px);
        text-align: center;
        transition: top 0.8s ease 0s, width 0.8s ease 0s, opacity 0.8s ease 0s, visibility 0.8s ease 0s;
        top: rem(50);
        z-index: 3;
        overflow: hidden;
        width: calc(100% - rem(100));
        @media (max-width: $mobileSmall) {
            border-radius: 0;
            width: 100%;
            top: 0;
            visibility: hidden;
            opacity: 0;
        }
        &.swiper-slide-next,
        &.swiper-slide-prev {
            @media (min-width: $mobileSmall) {
                top: rem(30);
                z-index: 4;
                width: calc(100% - rem(50));
            }
        }
        &.swiper-slide-active {
            @media (min-width: $mobileSmall) {
                top: 0;
                z-index: 5;
                width: 100%;
            }
            @media (max-width: $mobileSmall) {
                visibility: visible;
                opacity: 1;
            }
            .slider-testi__text {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__text {
        position: relative;
        z-index: 2;
        font-family: "Circular";
        @include adaptiveValue("font-size", 26, 20);
        line-height: math.div(40, 26);
        color: $grey;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.8s ease 0s, visibility 0.8s ease 0s;
    }

    &__quote {
        pointer-events: none;
        position: absolute;
        transform: translate(-50%, 0px);
        top: 30px;
        left: 50%;
        z-index: 1;
        @include adaptiveValue("width", 235, 100);
        img {
            max-width: 100%;
        }
    }
}

//========================================================================================================================================================

.support {
    position: relative;
    z-index: 12;
    &__container {
    }

    &__top {
        text-align: center;
        margin-bottom: rem(15);
        @media (min-width: $mobile) {
            margin: 0 auto;
            max-width: rem(660);
        }
    }

    &__title {
        text-align: center;
        @extend %h2;
        @include adaptiveValue("margin-bottom", 30, 20);

        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, rem(20), 0.8, 0, true);
    }

    &__text {
        @extend %text_2;
        color: $grey;

        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, rem(20), 0.8, 0.3, true);
    }

    &__body {
        position: relative;
    }

    &__bg {
    }

    &__image {
        position: relative;
        z-index: 2;
        text-align: center;
        img {
            max-width: 100%;
        }
        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, rem(20), 0.8, 0.3, true);
    }

    &__bottom {
        position: relative;
        z-index: 2;
    }
}

.support-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    // ANIMATION ==================================================================================================================================================
    @include inViewBasic(0, 0, 0.8, 0, true);
    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        @include adaptiveValue("top", 123, 20);
        left: 50%;
        transform: translate(-50%, 0px);
        img {
            max-width: 100%;
        }
    }

    &__dots {
        position: absolute;
        @media (max-width: $mobileSmall) {
            display: none;
        }
        img {
            max-width: 100%;
        }
        &_g {
            transform: rotate(90deg);
            left: 0;
            bottom: -100%;
            @include adaptiveValue("width", 214, 100);
        }

        &_r {
            @include adaptiveValue("width", 472, 250);
            right: 0;
            bottom: -65px;
        }
    }

    &__circle {
        &_1 {
            @include adaptiveValue("width", 60, 40);
            @include adaptiveValue("height", 60, 40);
            top: rem(70);
            left: percent(-40, 1920);
            @media (max-width: em(1750)) {
                left: rem(0);
            }
            @media (max-width: $pc) {
                top: 0;
            }
        }

        &_2 {
            @include adaptiveValue("width", 35, 20);
            @include adaptiveValue("height", 35, 20);
            top: rem(195);
            left: 0;
            @media (max-width: em(1750)) {
                left: rem(25);
            }
            @media (max-width: $pc) {
                top: rem(150);
            }
            @media (max-width: $mobile) {
                display: none;
            }
        }

        &_3 {
            @include adaptiveValue("width", 45, 30);
            @include adaptiveValue("height", 45, 30);
            top: rem(35);
            right: percent(100, 1630);
            @media (max-width: $pc) {
                top: 0;
            }
            @media (max-width: $mobile) {
                top: rem(-20);
            }
        }
    }
}
.bottom-support {
    background-color: $darkPurple;
    &__container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        @include adaptiveValue("padding-top", 80, 30);
        @include adaptiveValue("padding-bottom", 80, 30);
        @media (max-width: em(600)) {
            flex-wrap: wrap;
        }
    }

    &__text {
        color: $white;
        @include adaptiveValue("font-size", 36, 18);
        line-height: math.div(52, 36);
        @media (min-width: em(600)) {
            flex: 0 1 rem(855);
            @include adaptiveValue("margin-right", 70, 10);
        }
        @media (max-width: em(600)) {
            text-align: center;
            flex: 1 1 100%;
            margin-bottom: rem(20);
        }
        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, rem(20), 0.8, 0, true);
    }

    &__btn {
        flex: 0 0 rem(210);
        min-height: rem(22);
        border: rem(2) solid $white;
        border-radius: rem(60);
        background-color: $darkPurple;
        @media (any-hover: hover) {
            &:hover {
                border: rem(2) solid $green;
            }
        }
        @media (max-width: $tablet) {
            min-height: rem(60);
            flex: 0 0 rem(180);
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
            min-height: rem(45);
        }
        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, rem(20), 0.8, 0, true);
        transition: transform 0.8s ease 0s, opacity 0.8s ease 0s, visibility 0.8s ease 0s, background-color 0.3s ease 0s,
            border 0.3s ease 0s, color 0.3s ease 0s;
    }
    &__circle {
        @include adaptiveValue("width", 90, 40);
        @include adaptiveValue("height", 90, 40);
        bottom: rem(-20);
        right: rem(-20);
        @media (max-width: em(1750)) {
            right: rem(20);
        }
        @media (max-width: $mobileSmall) {
            right: 0;
        }
    }
}
